body {

    background-color: #b3c7f7;
    /* background-color: #d9e4ff; */
    color: black;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: xx-large;
}

h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h2 {
    font-size:x-large;
}

h3 {
    font-size: larger;
}

img {
    border: solid 5px;
    margin: 20px;
    padding: 10px;
    border-top-right-radius: 30px;
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    color: gray;
}

p {
    line-height: 32px;  
}